*{
  margin:0;
  padding: 0;
}
ul,ol{
  list-style: none;
}
body{
  background: url("images/background3.jpeg");
  background-size: cover;
  font-family: arial sans-serif;
}
header{
  padding: 30px 0;
}
header h1{
  font-size: 30px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000;
  font-family: 'Limelight', cursive;
}

/**/
#main-menu ul{
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  margin-top:72px;
  margin-right: 2px;

}
#main-menu ul li{
float: left;
width: 140px;
height: 500px;
overflow: hidden;
position: relative;
/*border: 1px solid white;*/
}
#part1 .bw{
  width: 140px;
  height: 500px;
  cursor: pointer;
  background: url('images/roni-ConvertImage.jpg') no-repeat;
  opacity:  0.6;
  position: absolute;
  left: 0px;
}

#part1 .color{
  width: 140px;
  height: 500px;
  cursor: pointer;
  background: url('images/roni.jpg') no-repeat;
  position: absolute;
  left: 140px;
}
/*samuel eto'o*/

#part2 .bw{
  width: 140px;
  height: 500px;
  cursor: pointer;
  background: url('images/eto-ConvertImage.jpg') no-repeat;
  opacity:  0.6;
  position: absolute;
    left: 0px;
}

#part2 .color{
  width: 140px;
  height: 500px;
  cursor: pointer;
  background: url('images/eto.jpg') no-repeat;
  position: absolute;
  left: 140px;
}
#part2 div{
  background-position: -140px 0;
}

#part3 .bw{
  width: 140px;
  height: 500px;
  cursor: pointer;
  background: url('images/messi-ConvertImage.jpg') no-repeat;
  opacity:  0.6;
  position: absolute;
    left: 0px;
}

#part3 .color{
  width: 140px;
  height: 500px;
  cursor: pointer;
  background: url('images/messi.jpg') no-repeat;
  position: absolute;
  left: 140px;
}
#part3 div{
  background-position: -280px 0;
}

#part4 .bw{
  width: 140px;
  height: 500px;
  cursor: pointer;
  background: url('images/neymar-ConvertImage.jpg') no-repeat;
  opacity:  0.6;
  position: absolute;
  left: 0px;
}

#part4 .color{
  width: 140px;
  height: 500px;
  cursor: pointer;
  background: url('images/neymar.jpg') no-repeat;
  position: absolute;
  left: 140px;
}
#part4 div{
  background-position: -420px 0;
}

#part5 .bw{
  width: 140px;
  height: 500px;
  cursor: pointer;
  background: url('images/ronaldo-ConvertImage.jpg') no-repeat;
  opacity:  0.6;
  position: absolute;
  left: 0px;
}

#part5 .color{
  width: 140px;
  height: 500px;
  cursor: pointer;
  background: url('images/ronaldo.jpg') no-repeat;
  position: absolute;
  left: 140px;
}
#part5 div{
  background-position: -280px 0;
}

.description{
  width: 140px;
  height: 500px;
  padding: 20px;
  background: blue;
  position: absolute;
  left: 140px;
}
.description h2{
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  font-family: 'Limelight', cursive;
}

.description h3{
  margin-top: 30px;
  padding: 10px 10px;
  font-size :26px;
  background: #d70000;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
  font-family: 'Lobster', cursive;

}
.description p{
  padding-top: 35px;
  font-size: 22px;
  color:#000;
  text-align: center;
  font-family: 'Lobster', cursive;
}
/*section buttons */
#button-menu{
  float: left;
  width: 100%;
  padding: 50px 0 50px  0;
}
#button-menu ul {
  float: left;
  position: relative;
  left:50%;
  text-align: center;
}
.button{
  float:left;
  width: 150px;
  margin-left: 30px;
  padding: 10px 0;
  position: relative;
  right: 50%;
  text-shadow: 1px 1px 1px #000;
  font-family: 'lobster', sans-serif;
  text-align: center;
  color: #fff;
  box-shadow: 4px 4px  4px rgba(0, 0, 0, 0.75);
  background: #333;
  border: 2px solid #b70000;
  cursor: pointer;
  font-size: 22px;
  opacity: 0.9;
  border-radius: 5px;
}
.hovered{
  background: #b70000;
  border: 2px solid #333;
  font-size: 24px;
}
